'.text.html':
  'view form':
    prefix: 'vf'
    body: '<form action="<%= ${1:model_url} %>" method="${2:get}">\n</form>'

  'submit tag':
    prefix: 'vfs'
    body: '<input type="submit" value="Create ${1:Model!}">'

  'input text':
    prefix: 'it'
    body: '<label for="${1:input_id}">${2:label_name}</label>\n<input type="text" name="${3:model_name}[${4:param_name}]" value="<%= @${5:model_name}.${6:attr_name} %>" id="${1:input_id}">'

  'input password':
    prefix: 'ip'
    body: '<label for="${1:password}">${2:Password:}</label>\n<input type="password" name="${3:user}[${4:password}]" id="${1:password}">'
  #
  #   <label for="password">Password:</label>
  # <input type="password" name="user[password]" id="password">
